[submodule "thirdparty/cpp-utils/external"]
	path = thirdparty/cpp-utils/external
	url = https://github.com/marcgiovannoni/cpp-utils.git
[submodule "thirdparty/googletest/external"]
	path = thirdparty/googletest/external
	url = https://github.com/google/googletest.git
